* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: "Roboto", sans-serif; */
    font-family: "Open Sans", sans-serif;
}

.main-container {
    /* background-color: #004AA1; */
    background: url('img/Background-img-1.png') no-repeat center center/cover;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    align-items: center;
}

.logo-img img {
    padding-top: 6px;
    padding-left: 55px;
    height: 54px;
    width: 175px;
}

.menu-bar {
    /* width: 62%; */
    align-content: center;
}

.menu-bar ul {
    display: flex;
    list-style: none;
    gap: 42px;
    align-items: center;
    justify-content: center;
}

.menu-bar ul li a {
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 13px;
    cursor: pointer;
    text-decoration: none;
}

.menu-bar ul li:hover {
    border-bottom: 1px solid #06B6D4;

}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 40px;
}

.icon p {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 13px;
}

.eng-icon {
    display: flex;
    align-items: center;
}


.eng-icon img {
    height: 18px;
    width: 18px;
    margin-left: 8px;
}

.nav-btn {

    align-content: center;
    padding-left: 26px;
}

.nav-btn button {
    cursor: pointer;
    color: white;
    font-family: "Open Sans", sans-serif;
    background-color: #09CEF1;
    border: none;
    border-radius: 4px;
    height: 25px;
    width: 84px;
    font-size: 13px;
}

.heading {
    width: 58%;
    padding-left: 60px;
}

.heading h1 {
    font-family: "Open Sans", sans-serif;
    color: white;
    max-width: 430px;
    padding-top: 90px;
    font-size: 60px;
    font-weight: 500
}

#high-light {
    color: #09CEF1;
    font-weight: 500;
}

.para-section p {
    font-family: "Montserrat", sans-serif;
    color: white;
    max-width: 300px;
    font-weight: 300;
    line-height: 25px;
    font-size: 15px;
    padding-top: 6px;

}

#devfor-1 {
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}

.para-btn {
    padding-top: 36px;
}

button#btn-1 {
    color: white;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    background-color: #09CEF1;
    border: 1px solid #09CEF1;
    /* padding: 7px 14px 7px 14px; */
    border-radius: 2px;
    height: 30px;
    width: 84px;
}

button#btn-2 {
    color: white;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    border-radius: 4px;
    background-color: #09cef118;
    border: 1px solid #09CEF1;
    /* padding: 7px 14px 7px 14px; */
    border-radius: 2px;
    margin-left: 10px;
    height: 30px;
    width: 84px;
}

.first-section {
    display: flex;
}

.section-img {
    position: relative;
    bottom: -4px;
}

.section-img img {
    width: 350px;
    width: 477px;
    height: 540px;
}

/* second-section */

.devfor-main-container {
    background-image: url('img/background-img-2.png');
}

.heading-section {
    color: #25408E;
    text-align: center;
}

.heading-section h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 34px;
    font-weight: 400;
    padding-top: 70px;
    padding-bottom: 25px;
}


#high-light-2 {
    font-weight: 600;
}

.devfor-box {
    padding-bottom: 60px
}

.inner-box {
    width: 415px;
    height: 190px;
    background: #efefef3b;
    box-shadow: 1px 0px 6px 1px #e6e6e6;
    margin-top: 10px;
    /* padding: 8px 0px 36px 12px; */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-top: 12px;
}

.inner-box:hover {
    box-shadow: 1px 0px 6px 1px #969090;
}

.inner-box img {
    height: 40px;
    width: 40px;
    margin-bottom: 4px;
}

.inner-box h3 {
    font-size: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 400;
}

.inner-box p {
    font-size: 14px;

}

.main-box {
    display: flex;
    gap: 12px;
    justify-content: center;

}


/* third-section */

.devfor-about {
    background: url('img/Background-img.png') no-repeat center center/cover;
    min-height: 420px;
}

.about-section {
    height: 420px;
    align-content: center;
    padding-left: 78px;


}

.about-section h1 {
    color: white;
    font-size: 2.5rem;
    font-weight: 400;
    padding-bottom: 8px;

}

.about-section p {
    color: white;
    max-width: 410px;
    font-size: 20px;
}

/* forth-section */

.service-heading {
    padding-top: 80px;
    padding-bottom: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-heading h1 {
    font-size: 36px;
    line-height: 66px;
}

.service-heading p {
    font-size: 24px;
    text-align: center;
    max-width: 380px;
    line-height: 26px;
}

.service-main-box {
    display: flex;
    gap: 8px;
    justify-content: center;
    padding-bottom: 60px;
}

.service-inner {
    background-color: #f2f2f2;
    /* box-shadow: 1px 0px 6px 1px #969090; */
    box-shadow: 0px 5px 6px -2px #969090;
    width: 195px;
    height: 216px;
    padding-left: 17px;
    border-radius: 10px;
}

.service-inner:hover {
    background-color: #EEF1F6;
    box-shadow: 1px 0px 6px 1px #969090;
}


.service-inner h3 {
    font-family: "Barlow", sans-serif;
    padding-top: 36px;
    padding-bottom: 14px;
    font-size: 20px;
    max-width: 155px;
    font-weight: 600;

}

.service-inner p {
    font-size: 15px;
    max-width: 160px;
}

/* fifth-section */

.client-section {
    background: url('img/Backround-img-5.png');
    min-height: 500px;
}

.client-heading {
    padding: 50px 150px;
}

.client-heading h1 {
    color: white;
    font-size: 45px;
    font-weight: 700;
}

.client-box {
    display: flex;
    width: 345px;
    background: #ffffff38;
    margin-bottom: 16px;
    border-radius: 12px;
}

.client-img img {
    width: 40px;
    /* margin-left: 4px;
    margin-top: 7px; */
    margin: 12px;
}

.client-main-box {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.client-name {
    font-size: 20px;
    padding-top: 4px;
}

.client-name h3 {
    font-size: 18px;
    margin-top: 12px;
}

.client-name p {
    font-size: 13px;
    padding-bottom: 14px;
}