* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.main-container {
    background-color: #004AA1;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.logo-img img {
    padding-top: 6px;
    padding-left: 55px;
    height: 50px;
    width: 157px;
}

.menu-bar {
    /* width: 62%; */
    align-content: center;
}

.menu-bar ul {
    display: flex;
    list-style: none;
    gap: 42px;
    align-items: center;
    justify-content: center;
}

.menu-bar ul li {
    color: white;
    font-size: 14px;
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 40px;
}

.icon p {
    color: white;
    font-weight: 400;
}

.eng-icon {
    display: flex;
}


.eng-icon img {
    height: 20px;
    width: 20px;
}

.nav-btn {
    align-content: center;
    padding-left: 10px;
}

.nav-btn button {
    height: 32px;
    width: 88px;
}

.heading {
    width: 50%;
    padding-left: 100px;
}

.heading h1 {
    color: white;
    max-width: 400px;
    padding-top: 90px;
    font-size: 60px;
    font-weight: 500
}

#high-light {
    color: #09CEF1;

    font-weight: 500;
}

.para-section p {
    color: white;
    max-width: 300px;
    font-weight: 300;
    line-height: 25px;
    font-size: 17px;
    padding-top: 14px;
    font-family: "Montserrat", sans-serif;

}

#devfor-1 {
    font-weight: 400;
}

.para-btn {
    padding-top: 36px;
}

button#btn-1 {
    color: white;
    padding: 5px;
    background-color: #09CEF1;
    border: none;
    border-radius: 3px;
    font-weight: 300;

}

button#btn-2 {
    color: white;
    padding: 4px;
    border: 1px solid #09CEF1;
    background-color: rgba(0, 255, 255, 0);
    border-radius: 3px;
    margin-left: 8px;
    font-weight: 300;
}

.first-section {
    display: flex;
}



.section-img img {
    width: 350px;
    width: 477px;
    height: 507px;
}

/* second-section */

.heading-section {
    color: #25408E;
    text-align: center;
}

.heading-section h1 {
    font-weight: 400;
    padding-top: 60px;
    padding-bottom: 20px;
}


#high-light-2 {
    font-weight: 600;
}

.devfor-box {
    padding-bottom: 60px
}

.inner-box {
    width: 380px;
    background: #efefef3b;
    box-shadow: 1px 0px 6px 1px #969090;
    margin-top: 10px;
    padding: 8px 0px 36px 12px;
    border-radius: 8px;
}

.inner-box img {
    height: 40px;
    width: 40px;
}

.inner-box h3 {
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 6px;
    font-weight: 400;
}

.inner-box p {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.main-box {
    display: flex;
    gap: 12px;
    justify-content: center;

}


/* third-section */

.devfor-about {
    background: url('img/Background-img.png') no-repeat center center/cover;
    min-height: 600px;
}

.about-section {
    height: 600px;
    align-content: center;
    padding-left: 78px;


}

.about-section h1 {
    color: white;
    font-size: 4rem;
    font-weight: 400;
    padding-bottom: 8px;

}

.about-section p {
    color: white;
    width: 619px;
    font-size: 1.9rem;
}

/* forth-section */

.service-heading {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 40px;
}

.service-heading h1 {
    font-size: 46px;
}

.service-heading p {
    font-size: 23px;
}

.service-main-box {
    display: flex;
    gap: 8px;
    justify-content: center;
    padding-bottom: 60px;
}

.service-inner {
    background-color: #EEF1F6;
    box-shadow: 1px 0px 6px 1px #969090;
    width: 274px;
    height: 285px;
    padding-left: 14px;
    border-radius: 12px;
}

.service-inner h3 {
    padding-top: 26px;
    padding-bottom: 14px;
    font-size: 32px;
}

.service-inner p {
    font-size: 24px;
}

/* fifth-section */

.client-section {
    background: url('img/Backround-img-5.png');
    min-height: 500px;
}

.client-heading {
    padding: 50px 102px;
}

.client-heading h1 {
    color: white;
}

.client-box {
    display: flex;
    width: 345px;
    background: #ffffff38;
    margin-bottom: 12px;
    border-radius: 12px;
}

.client-img img {
    width: 36px;
    /* margin-left: 4px;
    margin-top: 7px; */
    margin: 12px;
}

.client-main-box {
    display: flex;
    gap: 12px;
    justify-content: center;
}

.client-name {
    font-size: 20px;
    padding-top: 4px;
}

.client-name p {
    font-size: 14px;
    padding-bottom: 30px;
}